.Calendar{
    padding: 20px 10px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}

.float-buttons{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.float-buttons > *{
    margin-left: 20px;
}