
.Event{
    position: absolute;
    width: 100%;
    right: 0;
    background: #E2ECF5;
    padding: 4px;
    border-left: 2px solid #6E9ECF;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
