.close-button{
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    padding: 20px;
}

.close-button:hover{
    background: rgba(0,0,0,0.2);
}

.handle-buttons{
    margin: 10px;
}