.Time{
    display: inline-block;
    color: rgb(121, 121, 121);
    vertical-align: top;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 100%;
}

.Time .time{
    text-align: right;
    width: 40px;
    padding: 2px;
}

.Time .mark{
    display: block;
    height: 30px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.Time .int{
    font-size: 16px;
    border-top: 1px solid rgb(240, 240, 240);
}

.Time .real{
    font-size: 12px;
}